body,
html {
    margin: 0;
    padding: 0;
    background: rgb(0, 20, 24);
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 40% auto;
    position: fixed;
    width: 100%;
    height: 100%;
}

img.imgme {
    position: absolute;
    height: 85vh;
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    bottom: 0;
}

.halfcircle {
    position: absolute;
    border-radius: 50% 50% 50% 0;
    border: 0.1em solid #fff;
    background: rgb(0, 26, 31);
    height: 50em;
    width: 50em;
    box-shadow: 0px 0px 11px 0px #fff;
    -webkit-box-shadow: 0px 0px 11px 0px #fff;
    -moz-box-shadow: 0px 0px 11px 0px #fff;
    transform: translate(-20%, 52%);
    -webkit-transform: translate(-20%, 52%);
}

.machine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: machineRotate linear infinite;
}

.machine-1 {
    top: -2em;
    left: 3em;
    width: 10em;
    height: 10em;
    animation-duration: 2s;
    animation-direction: reverse;
}

.machine-2 {
    top: -6.5em;
    left: 5em;
    width: 11.5em;
    height: 11.5em;
    animation-duration: 3s;
}

.machine-3 {
    top: -5.5em;
    left: -3.5em;
    width: 13em;
    height: 13em;
    animation-duration: 4s;
}

.machine img {
    overflow: hidden;
}

.machine-circle {
    position: absolute;
    border-radius: 50%;
    border: 0.1em solid #fff;
    background-color: rgb(241, 241, 241);
    padding: 1.5em;
    box-shadow: 0px 0px 60px 20px #fff;
    -webkit-box-shadow: 0px 0px 60px 20px #fff;
    -moz-box-shadow: 0px 0px 60px 20px #fff;
}

.circle-animation {
    position: absolute;
    width: 530px;
    height: 530px;
    left: 2em;
    animation: circleMove 2s linear infinite;
}

.circle {
    border-radius: 50%;
    background-color: #fff;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 3s infinite cubic-bezier(.36, .11, .89, .32);
}

.skills {
    position: absolute;
    left: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: skillsMove 10s linear infinite;
}

.skills img {
    position: absolute;
    width: 3em;
}

.skills-bg {
    border-radius: 50%;
    background-color: #fff;
    width: 3em;
    height: 3em;
    padding: .9rem;
}


div.information {
    margin: auto;
}

div.main-object {
    transform: matrix(1, 0.2, -1, 0.7, 0, 0);
}

div.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

div.info-1 {
    margin: 2em;
    transform: translate(10%);
}

div.info-2 {
    transform: translate(-50%);
}

div.info-3 {
    transform: translate(50%);
}

div.info-4 {
    transform: translate(-10%);
}

.info img {
    position: absolute;
    height: 3em;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 20px 20px 5px 0px rgb(32, 212, 218);
    transition: .3s;
}
.info img:hover {
    height: 2em;
    cursor: pointer;
}
.info img:active {
    height: 4em;
}

.sign {
    border-radius: 10%;
    background-color: #fff;
    width: 14.5em;
    height: 14.5em;
    position: absolute;
    opacity: 0;
    animation: scaleIn .65s infinite cubic-bezier(.36, .11, .89, .32);
}

.text-info {
    width: 100%;
    border: 1px solid rgb(32, 212, 218);
    box-shadow: 0px -90px 200px 20px rgb(32, 212, 218, 0.6);
}

.show-text-info {
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 22em;
    height: 6em;
    color: #ccc;
    margin-top: 2em;
}

g {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #ccc;
}

div.account-link {
    margin-top: .4em;
    display: flex;
    justify-content: space-around;
}

div.account-link> :not(:hover) {
    opacity: .6;
    color: #ccc;
}

a {
    height: 1.2em;
    display: flex;
    gap: .2em;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a>img {
    height: 100%;
}


@keyframes scaleIn {
    from {
        transform: scale(.1, .1);
        opacity: .7;
    }

    to {
        transform: scale(.6, .6);
        opacity: 0;
    }
}

@keyframes circleMove {
    0% {
        transform:
            translate(0, 165px) rotate(-200deg);
        -webkit-transform:
            translate(0, 165px) rotate(-200deg);

    }

    100% {
        transform:
            translate(0, 165px) rotate(-315deg);
        -webkit-transform:
            translate(0, 165px) rotate(-315deg);
    }
}

@keyframes skillsMove {
    0% {
        transform:
            translate(0, 0);
        -webkit-transform:
            translate(0, 0);

    }

    100% {
        transform:
            translate(0, 1000px);
        -webkit-transform:
            translate(0, 1000px);
    }
}

@keyframes machineRotate {
    0% {
        transform:
            rotate(0deg);
        -webkit-transform:
            rotate(0deg);

    }

    100% {
        transform:
            rotate(360deg);
        -webkit-transform:
            rotate(360deg);
    }
}