body,
html {
    margin: 0;
    padding: 0;
    background: rgb(0, 20, 24);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 40% auto;
    position: fixed;
    width: 100%;
    height: 100%;
}

img.imgme {
    position: absolute;
    /* height: 85vh; */
    width: 40%;
    transform: translate(5%, 0%);
    -webkit-transform: translate(5%, 0%);
    bottom: 0;
}

.halfcircle {
    position: absolute;
    border: 0.1em solid #fff;
    border-bottom: 0;
    background: rgb(0, 26, 31);
    height: auto;
    width: 50%;
    padding-top: 16%;
    bottom: 0;
    border-top-right-radius: 100% 200%;
    border-top-left-radius: 100% 200%;
    box-shadow: 0px 0px 11px 0px #fff;
    -webkit-box-shadow: 0px 0px 11px 0px #fff;
    -moz-box-shadow: 0px 0px 11px 0px #fff;
    transform: translate(-20%, 0);
    -webkit-transform: translate(-20%, 0);
}

.machine {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: machineRotate linear infinite;
}

.machine-1 {
    top: -2em;
    left: 3em;
    width: 10em;
    height: 10em;
    animation-duration: 2s;
    animation-direction: reverse;
}

.machine-2 {
    top: -6.5em;
    left: 5em;
    width: 11.5em;
    height: 11.5em;
    animation-duration: 3s;
}

.machine-3 {
    top: -5.5em;
    left: -3.5em;
    width: 13em;
    height: 13em;
    animation-duration: 4s;
}

.machine img {
    overflow: hidden;
}

.machine-circle {
    position: absolute;
    border-radius: 50%;
    border: 0.1em solid #fff;
    background-color: rgb(241, 241, 241);
    padding: 1.5em;
    box-shadow: 0px 0px 60px 20px #fff;
    -webkit-box-shadow: 0px 0px 60px 20px #fff;
    -moz-box-shadow: 0px 0px 60px 20px #fff;
}

.circle-animation {
    position: absolute;
    /* width: 530px; */
    height: 30%;
    width: auto;
    padding-left: 30%;
    left: 4em;
    animation: circleMove 2s linear infinite;
    bottom: 18%;
}

.circle {
    border-radius: 50%;
    background-color: #fff;
    width: 35%;
    height: auto;
    padding-top: 35%;
    position: absolute;
    opacity: 0;
    animation: scaleIn 3s infinite cubic-bezier(.36, .11, .89, .32);
}

.skills {
    position: absolute;
    left: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: skillsMove 10s linear infinite;
}

.skills img {
    position: absolute;
    width: 3em;
}

.skills-bg {
    border-radius: 50%;
    background-color: #fff;
    width: 3em;
    height: 3em;
    padding: .9rem;
}


.information {
    margin: 0 auto;
}

div.main-object {
    transform: matrix(1, 0.2, -1, 0.7, 0, 0);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info-1 {
    top: 3em;
    left: 45%;
}

.info-2 {
    top: 8em;
    left: 5%;
}

.info-3 {
    top: 13em;
    left: 70%;
}

.info-4 {
    top: 18em;
    left: 30%;
}

.info img {
    position: absolute;
    height: 3em;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 20px 20px 5px 0px rgb(32, 212, 218);
    transition: .3s;
}

.info img:hover {
    height: 2em;
    cursor: pointer;
}

.info img:active {
    height: 4em;
}

.sign {
    border-radius: 10%;
    background-color: #fff;
    width: 14.5em;
    height: 14.5em;
    position: absolute;
    opacity: 0;
    animation: scaleIn .65s infinite cubic-bezier(.36, .11, .89, .32);
}

.text-info {
    width: 100%;
    border: 1px solid rgb(32, 212, 218);
    box-shadow: 0px -90px 200px 20px rgb(32, 212, 218, 0.6);
}

.show-text-info {
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 22em;
    height: 7em;
    color: #ccc;
}

p.im-ibrahim {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #ccc;
    margin: 0;
}

div.account-link {
    margin-top: .4em;
    display: flex;
    justify-content: space-around;
}

div.account-link> :not(:hover) {
    opacity: .6;
    color: #ccc;
}

a {
    height: 1.2em;
    display: flex;
    gap: .2em;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a>img {
    height: 100%;
}

@media only screen and (max-width:810px) {

    .container {
        grid-template-columns: auto;
        position: absolute;
        overflow-x: hidden;
    }

    .information {
        position: absolute;
        top: 100%;
        padding: 2em;
        left: 0;
        right: 0;

    }

    .information>* {
        margin: auto;
        left: 0;
        right: 0;
    }

    div.main-object {
        padding-right: 15%;
    }

    .show-text-info {
        height: 8em;
    }

}

@media only screen and (max-width:576px) {
    .information {
        padding: 1em;
    }

    p.im-ibrahim {
        font-size: 2rem;
    }

    .info img {
        height: 2em;
    }
    .info img:hover {
        height: 1em;
    }

    div.main-object {
        padding-right: 0;
    }

    .info-1 {
        top: 3em;
        left: 45%;
    }
    
    .info-2 {
        top: 8em;
        left: 10%;
    }
    
    .info-3 {
        top: 11em;
        left: 70%;
    }
    
    .info-4 {
        top: 16em;
        left: 42%;
    }
}


@keyframes scaleIn {
    from {
        transform: scale(.1, .1);
        opacity: .7;
    }

    to {
        transform: scale(.6, .6);
        opacity: 0;
    }
}

@keyframes circleMove {
    0% {
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);

    }

    100% {
        transform: rotate(-77deg);
        -webkit-transform: rotate(-77deg);
    }
}

@keyframes skillsMove {
    0% {
        transform:
            translate(0, 0);
        -webkit-transform:
            translate(0, 0);
        opacity: 1;

    }

    44% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    100% {
        transform:
            translate(0, 1000px);
        -webkit-transform:
            translate(0, 1000px);
        opacity: 0;
    }
}

@keyframes machineRotate {
    0% {
        transform:
            rotate(0deg);
        -webkit-transform:
            rotate(0deg);

    }

    100% {
        transform:
            rotate(360deg);
        -webkit-transform:
            rotate(360deg);
    }
}